# Mac OS
.DS_Store

# NPM and YARN
node_modules
npm-*
package-lock.json
*.lock

# Testing
/.nyc_output
/coverage

# Build
build
dist
/.opt-in

# Temporary files
*.log
*.swp

# generated translation files
/translations
/locale

# Ansible
*.retry
